xml-resources/web-service-references/rubi_Asynccom_senior_g5_rh_fp_terceiros/wsdl/192.168.1.93_8080/g5-senior-services/rubi_Asynccom_senior_g5_rh_fp_terceiros.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://services.senior.com.br" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.senior.com.br">

<xs:complexType name="terceirosComercializacaoProducao3In">
<xs:sequence>
<xs:element name="cmpPrd" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codCcu" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codFil" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="codPro" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codSus" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="datEmi" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="flowInstanceID" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="flowName" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="indCom" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="natDes" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="nomCnp" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="numEmp" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="numIns" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="numLoc" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="numNot" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="rateios" type="tns:terceirosComercializacaoProducao3InRateios" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="recBru" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="seqPrd" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="serNot" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="tipIns" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="tipOpe" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="tipPrd" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="VGilEx" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="VPreEx" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="VSenEx" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="valFin" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="valPre" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="valSen" type="xs:double" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terceirosComercializacaoProducao3InRateios">
<xs:sequence>
<xs:element name="codRat" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="perRat" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="tipOpe" type="xs:string" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terceirosComercializacaoProducao2In">
<xs:sequence>
<xs:element name="cmpPrd" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codCcu" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codFil" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="codPro" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codSus" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="datEmi" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="flowInstanceID" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="flowName" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="indCom" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="natDes" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="nomCnp" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="numEmp" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="numIns" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="numLoc" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="numNot" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="rateios" type="tns:terceirosComercializacaoProducao2InRateios" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="recBru" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="seqPrd" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="serNot" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="tipIns" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="tipOpe" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="tipPrd" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="VGilEx" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="VPreEx" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="VSenEx" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="valFin" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="valPre" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="valSen" type="xs:double" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terceirosComercializacaoProducao2InRateios">
<xs:sequence>
<xs:element name="codRat" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="perRat" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="tipOpe" type="xs:string" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terceirosPagtosFisica2In">
<xs:sequence>
<xs:element name="assIrf" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="basIns" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="basIrf" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="cmpPte" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="cnpjOp" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codCCU" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codCid" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="codFil" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="codIse" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="codLim" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="codNtg" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="codOpe" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="codRed" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="codRet" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="codSer" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="conIns" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="ctaFin" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="datPag" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="datRec" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="dedIns" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="depIrf" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="flowInstanceID" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="flowName" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="gridPensaoJudicial" type="tns:terceirosPagtosFisica2InGridPensaoJudicial" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="gridPlanodeSaude" type="tns:terceirosPagtosFisica2InGridPlanodeSaude" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="gridRateios" type="tns:terceirosPagtosFisica2InGridRateios" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="gruCon" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="insTrp" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="irfRet" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="natDes" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="nomOpe" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="nroRpa" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="numCad" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="numEmp" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="numLoc" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="outDes" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="outIns" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="penJud" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="perGrp" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="perIss" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="proIRR" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="proIns" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="qtdDia" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="regAns" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="renBru" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="seqPte" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="srvTer" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="tipOpe" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="valIse" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="valIss" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="vlrPla" type="xs:double" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terceirosPagtosFisica2InGridPensaoJudicial">
<xs:sequence>
<xs:element name="codDep" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="cpfDep" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="datNas" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="nomDep" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="seqPla" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="tipOpe" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="vlrPag" type="xs:double" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terceirosPagtosFisica2InGridPlanodeSaude">
<xs:sequence>
<xs:element name="codDep" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="cpfDep" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="datNas" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="nomDep" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="seqPen" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="tipDep" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="tipOpe" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="vlrPag" type="xs:double" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terceirosPagtosFisica2InGridRateios">
<xs:sequence>
<xs:element name="codRat" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="perRat" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="tipOpe" type="xs:string" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terceirosReceitaDesoneracaoFolhaIn">
<xs:sequence>
<xs:element name="cmpPrd" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codFil" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="flowInstanceID" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="flowName" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="numEmp" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="recBru" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="recSer" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="seqPrd" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="tipOpe" type="xs:string" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terceirosComercializacaoProducaoIn">
<xs:sequence>
<xs:element name="cmpPrd" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codCcu" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codFil" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="codPro" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codSus" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="datEmi" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="flowInstanceID" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="flowName" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="indCom" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="natDes" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="nomCnp" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="numEmp" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="numIns" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="numLoc" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="numNot" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="rateios" type="tns:terceirosComercializacaoProducaoInRateios" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="recBru" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="seqPrd" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="serNot" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="tipIns" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="tipOpe" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="tipPrd" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="VGilEx" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="VPreEx" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="VSenEx" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="valFin" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="valPre" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="valSen" type="xs:double" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terceirosComercializacaoProducaoInRateios">
<xs:sequence>
<xs:element name="codRat" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="perRat" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="tipOpe" type="xs:string" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terceirosReceitaAtividadesConcomitantesIn">
<xs:sequence>
<xs:element name="cmpPrd" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codFil" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="flowInstanceID" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="flowName" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="numEmp" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="recBru" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="recSer" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="seqPrd" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="tipOpe" type="xs:string" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terceirosRepasseClubeFutebol2In">
<xs:sequence>
<xs:element name="cmpPrd" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="cnpjDe" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codCcu" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codFil" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="datRep" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="flowInstanceID" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="flowName" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="natDes" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="nomCnp" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="numEmp" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="numLoc" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="rateios" type="tns:terceirosRepasseClubeFutebol2InRateios" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="recBru" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="seqPrd" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="tipOpe" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="tipRep" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="valRet" type="xs:double" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terceirosRepasseClubeFutebol2InRateios">
<xs:sequence>
<xs:element name="codRat" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="perRat" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="tipOpe" type="xs:string" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terceirosReceitaExportacaoServicosIn">
<xs:sequence>
<xs:element name="cmpPrd" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codFil" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="flowInstanceID" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="flowName" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="numEmp" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="recBru" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="recSer" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="seqPrd" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="tipOpe" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="valImp" type="xs:double" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terceirosAquisicaoProducaoIn">
<xs:sequence>
<xs:element name="cmpPrd" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codCcu" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codFil" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="codPro" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codSus" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="datEmi" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="flowInstanceID" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="flowName" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="indAqu" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="natDes" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="nomCnp" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="numEmp" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="numIns" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="numLoc" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="numNot" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="rateios" type="tns:terceirosAquisicaoProducaoInRateios" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="recBru" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="seqPrd" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="serNot" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="tipOpe" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="VFinPr" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="VPrePr" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="VSenPr" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="valFin" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="valPre" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="valSEN" type="xs:double" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terceirosAquisicaoProducaoInRateios">
<xs:sequence>
<xs:element name="codRat" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="perRat" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="tipOpe" type="xs:string" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terceirosPagtosFisicaIn">
<xs:sequence>
<xs:element name="assIrf" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="basIns" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="basIrf" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="cmpPte" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="cnpjOp" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codCCU" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codCid" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="codFil" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="codIse" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="codLim" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="codNtg" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="codOpe" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="codRed" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="codRet" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="codSer" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="conIns" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="ctaFin" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="datPag" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="datRec" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="dedIns" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="depIrf" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="flowInstanceID" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="flowName" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="gridPensaoJudicial" type="tns:terceirosPagtosFisicaInGridPensaoJudicial" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="gridPlanodeSaude" type="tns:terceirosPagtosFisicaInGridPlanodeSaude" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="gridRateios" type="tns:terceirosPagtosFisicaInGridRateios" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="gruCon" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="insTrp" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="irfRet" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="natDes" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="nomOpe" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="nroRpa" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="numCad" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="numEmp" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="numLoc" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="outDes" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="outIns" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="penJud" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="perGrp" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="perIss" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="proIRR" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="proIns" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="qtdDia" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="regAns" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="renBru" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="seqPte" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="srvTer" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="tipOpe" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="valIse" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="valIss" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="vlrPla" type="xs:double" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terceirosPagtosFisicaInGridPensaoJudicial">
<xs:sequence>
<xs:element name="codDep" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="cpfDep" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="datNas" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="nomDep" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="seqPla" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="tipOpe" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="vlrPag" type="xs:double" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terceirosPagtosFisicaInGridPlanodeSaude">
<xs:sequence>
<xs:element name="codDep" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="cpfDep" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="datNas" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="nomDep" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="seqPen" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="tipDep" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="tipOpe" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="vlrPag" type="xs:double" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terceirosPagtosFisicaInGridRateios">
<xs:sequence>
<xs:element name="codRat" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="perRat" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="tipOpe" type="xs:string" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terceirosServicoPrestadoIn">
<xs:sequence>
<xs:element name="bas15a" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="bas20a" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="bas25a" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="cmpRcb" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="cnpjSu" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codFil" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="codRat" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="datPag" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="datRcb" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="flowInstanceID" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="flowName" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="insPro" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="notFis" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="numCNO" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="numEmp" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="numPro" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="ret11p" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="retSub" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="seqRcb" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="serFis" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="serObr" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="serPre" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="servicosContidosNF" type="tns:terceirosServicoPrestadoInServicosContidosNF" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="tipOpe" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="tipPro" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="valBru" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="valDed" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="valMat" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="valNRe" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="valRcb" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="valSer" type="xs:double" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terceirosServicoPrestadoInServicosContidosNF">
<xs:sequence>
<xs:element name="basRet" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="numIte" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="tipOpe" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="tipSrv" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="valBru" type="xs:double" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terceirosRecebimentoClubeFutebol2In">
<xs:sequence>
<xs:element name="cmpPrd" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="cnpjRe" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codFil" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="datRep" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="flowInstanceID" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="flowName" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="nomCnp" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="numEmp" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="recBru" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="seqPrd" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="tipOpe" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="tipRep" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="valRet" type="xs:double" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terceirosAquisicaoProducao3In">
<xs:sequence>
<xs:element name="cmpPrd" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codCcu" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codFil" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="codPro" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codSus" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="datEmi" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="flowInstanceID" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="flowName" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="indAqu" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="natDes" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="nomCnp" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="numEmp" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="numIns" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="numLoc" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="numNot" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="rateios" type="tns:terceirosAquisicaoProducao3InRateios" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="recBru" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="seqPrd" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="serNot" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="tipOpe" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="VFinPr" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="VPrePr" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="VSenPr" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="valFin" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="valPre" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="valSEN" type="xs:double" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terceirosAquisicaoProducao3InRateios">
<xs:sequence>
<xs:element name="codRat" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="perRat" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="tipOpe" type="xs:string" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terceirosRepasseClubeFutebolIn">
<xs:sequence>
<xs:element name="cmpPrd" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="cnpjDe" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codCcu" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codFil" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="datRep" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="flowInstanceID" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="flowName" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="natDes" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="nomCnp" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="numEmp" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="numLoc" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="rateios" type="tns:terceirosRepasseClubeFutebolInRateios" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="recBru" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="seqPrd" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="tipOpe" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="tipRep" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="valRet" type="xs:double" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terceirosRepasseClubeFutebolInRateios">
<xs:sequence>
<xs:element name="codRat" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="perRat" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="tipOpe" type="xs:string" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terceirosAquisicaoProducao2In">
<xs:sequence>
<xs:element name="cmpPrd" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codCcu" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codFil" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="codPro" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codSus" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="datEmi" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="flowInstanceID" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="flowName" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="indAqu" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="natDes" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="nomCnp" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="numEmp" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="numIns" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="numLoc" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="numNot" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="rateios" type="tns:terceirosAquisicaoProducao2InRateios" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="recBru" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="seqPrd" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="serNot" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="tipOpe" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="VFinPr" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="VPrePr" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="VSenPr" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="valFin" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="valPre" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="valSEN" type="xs:double" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terceirosAquisicaoProducao2InRateios">
<xs:sequence>
<xs:element name="codRat" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="perRat" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="tipOpe" type="xs:string" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terceirosServicosTomadosIn">
<xs:sequence>
<xs:element name="atiIss" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="bas15a" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="bas20a" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="bas25a" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="basCof" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="basCsl" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="basCsr" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="basIrf" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="basIss" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="basPis" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="basRet" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="cmpPoe" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codCcu" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codEdc" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codFil" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="codNtg" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="codOem" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="codPro" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="codRed" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="codRet" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="codSnf" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codTns" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="ctaFin" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="datEmi" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="datPag" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="flowInstanceID" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="flowName" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="forTri" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="gruCon" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="insPro" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="irfRet" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="natDes" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="nroDoc" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="numCNO" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="numEmp" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="numLoc" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="outDes" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="perCof" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="perCsl" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="perCsr" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="perIrf" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="perIss" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="perPis" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="rateios" type="tns:terceirosServicosTomadosInRateios" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="renBru" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="retCof" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="retCsl" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="retCsr" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="retGrp" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="retPis" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="seqPoe" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="serFis" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="serObr" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="servicosContidosNF" type="tns:terceirosServicosTomadosInServicosContidosNF" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="tipOpe" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="tipPro" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="tipRen" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="valCof" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="valCsl" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="valCsr" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="valDed" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="valIss" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="valMat" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="valNRe" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="valPis" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="valREm" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="valRet" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="valSer" type="xs:double" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terceirosServicosTomadosInRateios">
<xs:sequence>
<xs:element name="perRateio" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="rateio" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="tipOpe" type="xs:string" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terceirosServicosTomadosInServicosContidosNF">
<xs:sequence>
<xs:element name="baseRetecao" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="numeroItem" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="tipOpe" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="tipoServicoTomador" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="valorBruto" type="xs:double" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terceirosRecebimentoClubeFutebolIn">
<xs:sequence>
<xs:element name="cmpPrd" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="cnpjRe" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="codFil" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="datRep" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="flowInstanceID" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="flowName" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="nomCnp" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="numEmp" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="recBru" type="xs:double" nillable="true" minOccurs="0"/>
<xs:element name="seqPrd" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="tipOpe" type="xs:string" nillable="true" minOccurs="0"/>
<xs:element name="tipRep" type="xs:int" nillable="true" minOccurs="0"/>
<xs:element name="valRet" type="xs:double" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>