xml-resources/web-service-references/rubi_Asynccom_senior_g5_rh_fp_terceiros/wsdl/192.168.1.93_8080/g5-senior-services/rubi_Asynccom_senior_g5_rh_fp_terceiros.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.senior.com.br" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.senior.com.br" name="g5-senior-services">
<types>
<xsd:schema>
<xsd:import namespace="http://services.senior.com.br" schemaLocation="http://192.168.1.93:8080/g5-senior-services/rubi_Asynccom_senior_g5_rh_fp_terceiros?xsd=1"/>
</xsd:schema>
</types>
<message name="ReceitaExportacaoServicos">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:terceirosReceitaExportacaoServicosIn"/>
</message>
<message name="ReceitaExportacaoServicosResponse">
<part name="result" type="xsd:string"/>
</message>
<message name="ReceitaAtividadesConcomitantes">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:terceirosReceitaAtividadesConcomitantesIn"/>
</message>
<message name="ReceitaAtividadesConcomitantesResponse">
<part name="result" type="xsd:string"/>
</message>
<message name="RepasseClubeFutebol">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:terceirosRepasseClubeFutebolIn"/>
</message>
<message name="RepasseClubeFutebolResponse">
<part name="result" type="xsd:string"/>
</message>
<message name="RepasseClubeFutebol_2">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:terceirosRepasseClubeFutebol2In"/>
</message>
<message name="RepasseClubeFutebol_2Response">
<part name="result" type="xsd:string"/>
</message>
<message name="RecebimentoClubeFutebol">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:terceirosRecebimentoClubeFutebolIn"/>
</message>
<message name="RecebimentoClubeFutebolResponse">
<part name="result" type="xsd:string"/>
</message>
<message name="RecebimentoClubeFutebol_2">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:terceirosRecebimentoClubeFutebol2In"/>
</message>
<message name="RecebimentoClubeFutebol_2Response">
<part name="result" type="xsd:string"/>
</message>
<message name="AquisicaoProducao">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:terceirosAquisicaoProducaoIn"/>
</message>
<message name="AquisicaoProducaoResponse">
<part name="result" type="xsd:string"/>
</message>
<message name="AquisicaoProducao_2">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:terceirosAquisicaoProducao2In"/>
</message>
<message name="AquisicaoProducao_2Response">
<part name="result" type="xsd:string"/>
</message>
<message name="AquisicaoProducao_3">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:terceirosAquisicaoProducao3In"/>
</message>
<message name="AquisicaoProducao_3Response">
<part name="result" type="xsd:string"/>
</message>
<message name="ComercializacaoProducao">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:terceirosComercializacaoProducaoIn"/>
</message>
<message name="ComercializacaoProducaoResponse">
<part name="result" type="xsd:string"/>
</message>
<message name="ComercializacaoProducao_2">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:terceirosComercializacaoProducao2In"/>
</message>
<message name="ComercializacaoProducao_2Response">
<part name="result" type="xsd:string"/>
</message>
<message name="ComercializacaoProducao_3">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:terceirosComercializacaoProducao3In"/>
</message>
<message name="ComercializacaoProducao_3Response">
<part name="result" type="xsd:string"/>
</message>
<message name="ReceitaDesoneracaoFolha">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:terceirosReceitaDesoneracaoFolhaIn"/>
</message>
<message name="ReceitaDesoneracaoFolhaResponse">
<part name="result" type="xsd:string"/>
</message>
<message name="PagtosFisica_2">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:terceirosPagtosFisica2In"/>
</message>
<message name="PagtosFisica_2Response">
<part name="result" type="xsd:string"/>
</message>
<message name="PagtosFisica">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:terceirosPagtosFisicaIn"/>
</message>
<message name="PagtosFisicaResponse">
<part name="result" type="xsd:string"/>
</message>
<message name="ServicosTomados">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:terceirosServicosTomadosIn"/>
</message>
<message name="ServicosTomadosResponse">
<part name="result" type="xsd:string"/>
</message>
<message name="ServicoPrestado">
<part name="user" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="encryption" type="xsd:int"/>
<part name="parameters" type="tns:terceirosServicoPrestadoIn"/>
</message>
<message name="ServicoPrestadoResponse">
<part name="result" type="xsd:string"/>
</message>
<portType name="rubi_Asynccom_senior_g5_rh_fp_terceiros">
<operation name="ReceitaExportacaoServicos" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/rubi_Asynccom_senior_g5_rh_fp_terceiros/ReceitaExportacaoServicosRequest" message="tns:ReceitaExportacaoServicos"/>
<output wsam:Action="http://services.senior.com.br/rubi_Asynccom_senior_g5_rh_fp_terceiros/ReceitaExportacaoServicosResponse" message="tns:ReceitaExportacaoServicosResponse"/>
</operation>
<operation name="ReceitaAtividadesConcomitantes" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/rubi_Asynccom_senior_g5_rh_fp_terceiros/ReceitaAtividadesConcomitantesRequest" message="tns:ReceitaAtividadesConcomitantes"/>
<output wsam:Action="http://services.senior.com.br/rubi_Asynccom_senior_g5_rh_fp_terceiros/ReceitaAtividadesConcomitantesResponse" message="tns:ReceitaAtividadesConcomitantesResponse"/>
</operation>
<operation name="RepasseClubeFutebol" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/rubi_Asynccom_senior_g5_rh_fp_terceiros/RepasseClubeFutebolRequest" message="tns:RepasseClubeFutebol"/>
<output wsam:Action="http://services.senior.com.br/rubi_Asynccom_senior_g5_rh_fp_terceiros/RepasseClubeFutebolResponse" message="tns:RepasseClubeFutebolResponse"/>
</operation>
<operation name="RepasseClubeFutebol_2" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/rubi_Asynccom_senior_g5_rh_fp_terceiros/RepasseClubeFutebol_2Request" message="tns:RepasseClubeFutebol_2"/>
<output wsam:Action="http://services.senior.com.br/rubi_Asynccom_senior_g5_rh_fp_terceiros/RepasseClubeFutebol_2Response" message="tns:RepasseClubeFutebol_2Response"/>
</operation>
<operation name="RecebimentoClubeFutebol" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/rubi_Asynccom_senior_g5_rh_fp_terceiros/RecebimentoClubeFutebolRequest" message="tns:RecebimentoClubeFutebol"/>
<output wsam:Action="http://services.senior.com.br/rubi_Asynccom_senior_g5_rh_fp_terceiros/RecebimentoClubeFutebolResponse" message="tns:RecebimentoClubeFutebolResponse"/>
</operation>
<operation name="RecebimentoClubeFutebol_2" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/rubi_Asynccom_senior_g5_rh_fp_terceiros/RecebimentoClubeFutebol_2Request" message="tns:RecebimentoClubeFutebol_2"/>
<output wsam:Action="http://services.senior.com.br/rubi_Asynccom_senior_g5_rh_fp_terceiros/RecebimentoClubeFutebol_2Response" message="tns:RecebimentoClubeFutebol_2Response"/>
</operation>
<operation name="AquisicaoProducao" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/rubi_Asynccom_senior_g5_rh_fp_terceiros/AquisicaoProducaoRequest" message="tns:AquisicaoProducao"/>
<output wsam:Action="http://services.senior.com.br/rubi_Asynccom_senior_g5_rh_fp_terceiros/AquisicaoProducaoResponse" message="tns:AquisicaoProducaoResponse"/>
</operation>
<operation name="AquisicaoProducao_2" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/rubi_Asynccom_senior_g5_rh_fp_terceiros/AquisicaoProducao_2Request" message="tns:AquisicaoProducao_2"/>
<output wsam:Action="http://services.senior.com.br/rubi_Asynccom_senior_g5_rh_fp_terceiros/AquisicaoProducao_2Response" message="tns:AquisicaoProducao_2Response"/>
</operation>
<operation name="AquisicaoProducao_3" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/rubi_Asynccom_senior_g5_rh_fp_terceiros/AquisicaoProducao_3Request" message="tns:AquisicaoProducao_3"/>
<output wsam:Action="http://services.senior.com.br/rubi_Asynccom_senior_g5_rh_fp_terceiros/AquisicaoProducao_3Response" message="tns:AquisicaoProducao_3Response"/>
</operation>
<operation name="ComercializacaoProducao" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/rubi_Asynccom_senior_g5_rh_fp_terceiros/ComercializacaoProducaoRequest" message="tns:ComercializacaoProducao"/>
<output wsam:Action="http://services.senior.com.br/rubi_Asynccom_senior_g5_rh_fp_terceiros/ComercializacaoProducaoResponse" message="tns:ComercializacaoProducaoResponse"/>
</operation>
<operation name="ComercializacaoProducao_2" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/rubi_Asynccom_senior_g5_rh_fp_terceiros/ComercializacaoProducao_2Request" message="tns:ComercializacaoProducao_2"/>
<output wsam:Action="http://services.senior.com.br/rubi_Asynccom_senior_g5_rh_fp_terceiros/ComercializacaoProducao_2Response" message="tns:ComercializacaoProducao_2Response"/>
</operation>
<operation name="ComercializacaoProducao_3" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/rubi_Asynccom_senior_g5_rh_fp_terceiros/ComercializacaoProducao_3Request" message="tns:ComercializacaoProducao_3"/>
<output wsam:Action="http://services.senior.com.br/rubi_Asynccom_senior_g5_rh_fp_terceiros/ComercializacaoProducao_3Response" message="tns:ComercializacaoProducao_3Response"/>
</operation>
<operation name="ReceitaDesoneracaoFolha" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/rubi_Asynccom_senior_g5_rh_fp_terceiros/ReceitaDesoneracaoFolhaRequest" message="tns:ReceitaDesoneracaoFolha"/>
<output wsam:Action="http://services.senior.com.br/rubi_Asynccom_senior_g5_rh_fp_terceiros/ReceitaDesoneracaoFolhaResponse" message="tns:ReceitaDesoneracaoFolhaResponse"/>
</operation>
<operation name="PagtosFisica_2" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/rubi_Asynccom_senior_g5_rh_fp_terceiros/PagtosFisica_2Request" message="tns:PagtosFisica_2"/>
<output wsam:Action="http://services.senior.com.br/rubi_Asynccom_senior_g5_rh_fp_terceiros/PagtosFisica_2Response" message="tns:PagtosFisica_2Response"/>
</operation>
<operation name="PagtosFisica" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/rubi_Asynccom_senior_g5_rh_fp_terceiros/PagtosFisicaRequest" message="tns:PagtosFisica"/>
<output wsam:Action="http://services.senior.com.br/rubi_Asynccom_senior_g5_rh_fp_terceiros/PagtosFisicaResponse" message="tns:PagtosFisicaResponse"/>
</operation>
<operation name="ServicosTomados" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/rubi_Asynccom_senior_g5_rh_fp_terceiros/ServicosTomadosRequest" message="tns:ServicosTomados"/>
<output wsam:Action="http://services.senior.com.br/rubi_Asynccom_senior_g5_rh_fp_terceiros/ServicosTomadosResponse" message="tns:ServicosTomadosResponse"/>
</operation>
<operation name="ServicoPrestado" parameterOrder="user password encryption parameters">
<input wsam:Action="http://services.senior.com.br/rubi_Asynccom_senior_g5_rh_fp_terceiros/ServicoPrestadoRequest" message="tns:ServicoPrestado"/>
<output wsam:Action="http://services.senior.com.br/rubi_Asynccom_senior_g5_rh_fp_terceiros/ServicoPrestadoResponse" message="tns:ServicoPrestadoResponse"/>
</operation>
</portType>
<binding name="rubi_Asynccom_senior_g5_rh_fp_terceirosPortBinding" type="tns:rubi_Asynccom_senior_g5_rh_fp_terceiros">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="ReceitaExportacaoServicos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="ReceitaAtividadesConcomitantes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="RepasseClubeFutebol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="RepasseClubeFutebol_2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="RecebimentoClubeFutebol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="RecebimentoClubeFutebol_2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="AquisicaoProducao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="AquisicaoProducao_2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="AquisicaoProducao_3">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="ComercializacaoProducao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="ComercializacaoProducao_2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="ComercializacaoProducao_3">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="ReceitaDesoneracaoFolha">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="PagtosFisica_2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="PagtosFisica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="ServicosTomados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
<operation name="ServicoPrestado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</input>
<output>
<soap:body use="literal" namespace="http://services.senior.com.br"/>
</output>
</operation>
</binding>
<service name="g5-senior-services">
<port name="rubi_Asynccom_senior_g5_rh_fp_terceirosPort" binding="tns:rubi_Asynccom_senior_g5_rh_fp_terceirosPortBinding">
<soap:address location="http://192.168.1.93:8080/g5-senior-services/rubi_Asynccom_senior_g5_rh_fp_terceiros"/>
</port>
</service>
</definitions>